<!DOCTYPE html>
<html lang="es">
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="../static/css/output.css">
</head>
<body>
    <section class="bg-gray-50 dark:bg-gray-900">
        <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
            <div class="w-full flex flex-col items-center bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
                <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                    <a href="/" class="text-xl cursor-pointer text-center leading-tight font-bold text-red-500 tracking-tight md:text-2xl">
                        Crendenciales Incorrectas!
                    </a>
                </div>
            </div>
        </div>
    </section>
</body>
</html>